<div class="bg-secondary border rounded mb-3 p-3">
    <div class="row d-flex justify-content-between">
        <div class="col">
            {{name}}
        </div>
        <div class="col d-flex justify-content-end">
            {{amountOfTasks}} Tasks
        </div>
    </div>

    <div class="row d-flex justify-content-between text-muted">
        <div class="col">
            {{description}}
        </div>

        <div class="col d-flex justify-content-end">
            owner: {{owner}}
        </div>
    </div>
</div>
